- if code
    %iframe{width: '560', height: '315', src: 'https://www.youtube.com/embed/{{ code }}?version=3&start={{ start }}&end={{ end }}', frameborder: '0', 'allowfullscreen': None}
- else
    %p Видео недоступно
